<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenpay" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="Alipay" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Eyousoft_yhq.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="jpSgin" value="123456789"/>
    <add key="YHQToken" value="wx935e1​" />
    <add key="YHQAppId" value="wx935e1ca713dff84f​" />
    <add key="YHQAppSecret" value="51ca90d34cd0ca8d6b029ff99bf7da89" />

    <add key="WXToken" value="wx935e1​​" />
    <add key="WXAppId" value="wx935e1ca713dff84f​" />
    <add key="WXAppSecret" value="51ca90d34cd0ca8d6b029ff99bf7da89" />
    <add key="WXEncodingAESKey" value="OqNidwHJphYjct73sRmoYr5BQdNX51idVqe3UGSjTVb" />
    <add key="JCtype" value="教程" />
    <!-- 新版短信接口 -->
    <add key="DLConfig" value="0190043" />
    <add key="SQMConfig" value="43c285e73fcab16e3fb491f44a1a49aa" />
    <!-- 新版短信接口 -->


    <add key="SMS_SMSChannel" value="index:0,name:通道1：6分/条，成功率高，速度快，显示系统随机号码，不可回复（重点推荐）,user:tongye1,pw:000000,price:6,size:0|index:1,name:通道2：5分/条，有延时，适合大量广告营销类短信，显示系统随机号码，不可回复,user:tongye2,pw:000000,price:5,size:0|index:2,name:通道3：1角/条，新通道，不可回复,user:enow,pw:1234567,price:10,size:0"/>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=127.0.0.1;database=codematic;uid=sa;pwd=1"/>
    <!-- Maticsoft.Accounts权限角色管理模块连接字符串-->
    <add key="ConnectionStringAccounts" value="server=127.0.0.1;database=codematic;uid=sa;pwd=1"/>
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd=1"/>
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="Eyousoft_yhq.SQLServerDAL"/>
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value=""/>
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false"/>
    <!--管理员所属部门名称-->
    <add key="AdManager" value="管理部"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
    <!--卖家帐号-->
    <add key="AlipayAccount" value="823423948@qq.com" />
    <!--机票跳转地址-->
    <add key="JPURL" value="http://fxb2b.8222666.com"/>
    <!--二维码生成地址-->
    <add key="CodePath" value="/ZXingCode/QRCODE/"/>
    <!--保险发送地址-->
    <add key="InsSendURL" value="http://develop.taikang.com:9080/ec/CsmOnlineInsure/csmEntry"/>

    <!--weixin jsapi debug -->
    <add key="weixin_jsapi_debug" value="1"/>

  </appSettings>
  <Alipay>
    <!-- Alipay Interface Parameters Begin -->
    <!-- 加密方式 不需修改 -->
    <add key="sign_type" value="MD5" />
    <!-- 字符编码格式 目前支持 gbk 或 utf-8 -->
    <add key="input_charset" value="utf-8" />
    <!-- 支付完成后异步调用通知的URL、http://开头的完整地址(若不包含http://则系统会默认取当前程序所在的域名) -->
    <add key="notify_url" value="http://www.4008005216.com/AliPay/WebPay/Alipay_Notify.aspx" />
    <!-- 支付完成后，同步重定向，自动跳转回该指定网址(若为空，支付完成后页面不进行跳转)，http://开头的完整地址(若不包含http://则系统会默认取当前程序所在的域名) -->
    <add key="return_url" value="http://www.4008005216.com/Alipay/WebPay/return_url.aspx" />
    <!-- 合作身份者ID -->
    <add key="partner" value="2088012518583131" />
    <!-- 安全检验码 -->
    <add key="key" value="80kkqnu88zrsyxx9n39bbicd4x97vasf" />
    <!-- 收取支付手续费的平台帐户 -->
    <add key="seller_mailer" value="pay2@tongye114.com" />
    <!-- 交易手续费收费比例，如：0.1，则手续费=交易总金额*0.1 -->
    <add key="service_fee_percent" value="0.005" />
    <!-- Alipay Interface Parameters End -->
    <!-- 手机支付宝成后异步调用通知的URL -->
    <add key="app_notify_url" value="http://www.4008005216.com/AliPay/notify_url.aspx"/>
    <!-- 手机支付宝成后同步调用通知的URL -->
    <add key="app_callback_url" value="http://www.4008005216.com/AliPay/call_back_url.aspx"/>
    <!-- 手机支付完成后，同步重定向，自动跳转回该指定网址 -->
    <add key="app_return_url" value="http://www.4008005216.com/AppPage/Default.aspx"/>
  </Alipay>

  <connectionStrings>
    <add name="SystemStore" connectionString="Data Source=192.168.1.254;Initial Catalog=yhqdb;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
    <compilation debug="true" />
    <customErrors mode="Off"/>
    <!--<identity impersonate="true"/>-->
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
      </forms>
    </authentication>

  </system.web>
  <applicationSettings>
    <Eyousoft_yhq.Web.Properties.Settings>
      <setting name="Eyousoft_yhq_Web_cn_myvo_smc_Service" serializeAs="String">
        <value>http://smc.myvo.cn/SMSWebService/Service.asmx</value>
      </setting>
      <setting name="Eyousoft_yhq_Web_net_2office_sms_SmsService" serializeAs="String">
        <value>http://sms.2office.net:8080/WebService/SmsService.asmx</value>
      </setting>
      <setting name="Eyousoft_yhq_Web_net_2office_voicesms_VoiceVerificationService"
        serializeAs="String">
        <value>http://voicesms.2office.net:8080/WebService/VoiceVerificationService.asmx</value>
      </setting>
      <setting name="Eyousoft_yhq_Web_WebReference_Service" serializeAs="String">
        <value>http://124.42.75.134:8086/aois/ysta.asmx</value>
      </setting>
      <setting name="Eyousoft_yhq_Web_WebReference1_Service" serializeAs="String">
        <value>http://124.42.75.134:8087/aois/ysta.asmx</value>
      </setting>
      <setting name="Eyousoft_yhq_Web_com_8222666_fxb2b_Service" serializeAs="String">
        <value>http://fxad.8222666.com/aois/ysta.asmx</value>
      </setting>
      <setting name="Eyousoft_yhq_Web_com_8222666_fxs_Service" serializeAs="String">
        <value>http://fxb2b.8222666.com/aois/ysta.asmx</value>
      </setting>
    </Eyousoft_yhq.Web.Properties.Settings>
  </applicationSettings>

  <Tenpay>
    <!-- Tenpay Interface Parameters Begin -->
    <!-- 平台商户ID -->
    <add key="bargainor_id" value="1230569102"/>
    <!-- 安全检验码 -->
    <add key="key" value="82d2f8b9fd7695aec51415ab2900a756"/>
    <!-- 字符编码格式 utf-8,gb2312 -->
    <add key="input_charset" value="utf-8"/>
    <!-- 加密方式 不需修改 -->
    <add key="sign_type" value="MD5"/>
    <!-- 证书地址 -->
    <add key="pfxPath" value="~/ten_pfx/apiclient_cert.p12"/>
    <!--<add key="pfxPath" value="~/App_Data/ten_pfx/1900000107.pfx"/>-->
    <!-- 证书密码 -->
    <add key="pfxPwd" value="1207884201"/>
    <!-- 支付完成后异步调用通知的URL、http://开头的完整地址(若不包含http://则系统会默认取当前程序所在的域名) -->
    <add key="notify_url" value="http://www.4008005216.com/TenPay/notify_url.aspx"/>
    <!-- 支付完成后，同步重定向，自动跳转回该指定网址(若为空，支付完成后页面不进行跳转)，http://开头的完整地址(若不包含http://则系统会默认取当前程序所在的域名) -->
    <add key="return_url" value="/AppPage/weixin/AccountManage.aspx"/>
    <add key="appkey" value="wx935e1ca713dff84f" />
    <add key="appid" value="wx935e1ca713dff84f" />
    <!-- Tenpay Interface Parameters End -->
  </Tenpay>
</configuration>
